<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {# Ajout du favicon #}
        <link rel="icon" href="{{ asset('images/iut.ico') }}">
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="{{ asset('css/style.css') }}" rel="stylesheet" />

            {# Import CSS Bootstrap #}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

            {# Import JS Bootstrap #}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

            {# Import Fontawesome Icons #}
            <script src="https://kit.fontawesome.com/2be809da13.js" crossorigin="anonymous"></script>

        {% endblock %}
    </head>
    <body>
        {% block nav %}
        

            <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <a class="navbar-brand" href="#"></a>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_home') }}">Accueil</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="navbarScrollingDropdown1">L'IUT </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown1">
                                <li><a class="dropdown-item" href="#">Actualités</a></li>
                                <li><a class="dropdown-item" href="#">L'IUT en chiffres</a></li>
                                <li><a class="dropdown-item" href="{{ path('app_dep') }}">Départements</a></li>
                                <li><a class="dropdown-item" href="#">Organigramme</a></li>
                                <li><a class="dropdown-item" href="#">Revue de presse</a></li>
                                <li><a class="dropdown-item" href="#">Rapports d'activité</a></li>
                                <li><a class="dropdown-item" href="#">Nous trouver</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="navbarScrollingDropdown2">Formations </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown2">
                                <li><a class="dropdown-item" href="#">Domaines d'étude</a></li>
                                <li><a class="dropdown-item" href="#">Modalités de formation</a></li>
                                <li><a class="dropdown-item" href="#">vae/vapp : la validation des acquis à l'iut de troyes</a></li>
                                <li><a class="dropdown-item" href="#">Passeport vers l'étranger</a></li>
                                <li><a class="dropdown-item" href="#">Passeport vers l'université</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="navbarScrollingDropdown3">International </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown3">
                                <li><a class="dropdown-item" href="#">Relations Internationales</a></li>
                                <li><a class="dropdown-item" href="#">étudier à l'étranger</a></li>
                                <li><a class="dropdown-item" href="#">stages à l'étranger</a></li>
                                <li><a class="dropdown-item" href="#">travailler à l'étranger</a></li>
                                <li><a class="dropdown-item" href="#">universités partenaires</a></li>
                                <li><a class="dropdown-item" href="#">étudiants étrangers</a></li>
                                <li><a class="dropdown-item" href="#">toeic</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="navbarScrollingDropdown4">Entreprises </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown4">
                                <li><a class="dropdown-item" href="#">formation aux Entreprises</a></li>
                                <li><a class="dropdown-item" href="#">service emploi</a></li>
                                <li><a class="dropdown-item" href="#">stages en Entreprise</a></li>
                                <li><a class="dropdown-item" href="#">taxe d'apprentissage</a></li>
                                <li><a class="dropdown-item" href="#">faire un don à l'iut</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="navbarScrollingDropdown5">Recherche </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown5">
                                <li><a class="dropdown-item" href="#">Crestic automatique</a></li>
                                <li><a class="dropdown-item" href="#">Crestic images</a></li>
                                <li><a class="dropdown-item" href="#">ithemm</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="navbarScrollingDropdown6">Vie étudiante </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown6">
                                <li><a class="dropdown-item" href="#">information et orientation</a></li>
                                <li><a class="dropdown-item" href="#">Démarches en ligne</a></li>
                                <li><a class="dropdown-item" href="#">Le service de santé</a></li>
                                <li><a class="dropdown-item" href="#">enquêtes</a></li>
                                <li><a class="dropdown-item" href="#">Les services du crous</a></li>
                                <li><a class="dropdown-item" href="#">bibliothèque</a></li>
                                <li><a class="dropdown-item" href="#">sports</a></li>
                                <li><a class="dropdown-item" href="#">associations</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Candidatures</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Evènement</a>
                        </li>                        
                    </ul>
                    
                    </div>
                </div>
            </nav>
            <img class="LogoNav" height="70" src="{{ asset('images/logo.png') }}" alt="Logo IUT" />
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <a class="navbar-brand" href="#"></a>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#">intranet</a>
                        </li>
                        <li class="nav-item"><a class="nav-link disabled" href="#">|</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Bureau virtuel</a>
                        </li>  
                        <li class="nav-item"><a class="nav-link disabled" href="#">|</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Messagerie</a>
                        </li> 
                        <li class="nav-item"><a class="nav-link disabled" href="#">|</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">annuaire</a>
                        </li>  
                        <li class="nav-item"><a class="nav-link disabled" href="#">|</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">bibliothèque</a>
                        </li>
                        <li class="nav-item">
                            <p></p>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa-brands fa-facebook-square"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa-brands fa-twitter"></i></a>
                        </li> 
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa-brands fa-instagram"></i></a>
                        </li> 
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa-brands fa-youtube"></i></a>
                        </li> 
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa-brands fa-linkedin"></i></a>
                        </li> 
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa-brands fa-flickr"></i></a>
                        </li>  
                        <li class="nav-item">
                            <p></p>
                        </li>                   
                    </ul>
                    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Rechercher..." aria-label="Search">
        <button class="btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
                    
                    </div>
                </div>
            </nav>
            
        
        {% endblock %}
        {% block body %}{% endblock %}


        {% block footer %}
            <footer>
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3">
                        <img src="{{ asset('images/URCA.png') }}" alt="Logo URCA" />
                        </div>
                        <div class="col-lg-6">
                        <p class="uppercase">Contact | FAQ | Mentions légales | liens utiles | plan du site | accessibilité </p>
                        <p>© IUT de Troyes - 2022</p>
                        </div>
                        <div class="col-lg-3">
                            <img width="100" src="{{ asset('images/logo.png') }}" alt="Logo IUT" />
                            <p class="uppercase"><br /> 9 rue du québec <br /> CS 90396 <br /> 10026 troyes cedex <br /> 0325424646</p>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}
    </body>
</html>
