{% extends 'base.html.twig' %}

{% block title %}
Départements
{% endblock %}

{% block body %}
  <div class="introDep">
    <h1>Les départements</h1>
    <p>L’IUT de Troyes compte aujourd’hui 6 départements et 1 service de formation continue et alternance.</p>
  </div>
  <div class="container dep">
    <div class="row align-items-center">

    {% for value in departements %}

      <div class="col-lg-6">
        <div class="module-border-wrap">
          <div class="card card-dep">
            <div class="card-body">
              <h2 class="card-title">{{ value.sigle }}</h2>
              <h5 class="card-text">{{ value.nom }}</h5>
              <p class="card-text indent">{{ value.presentation }}</p>
              {% if value.responsable %}
                <p class="card-text">Responsable :<br />{{ value.responsable }}<br /><a class="mail_respo" href="mailto:{{ value.mail_responsable }}">{{ value.mail_responsable }}</a></p>
              {% else %}
                <div class="emptyRespo"></div>
              {% endif %}
            </div>
            <img width="150" src="{{ value.logo }}" class="card-img-bottom" alt="Logo">
          </div>
        </div>
        </div>

    {% endfor %}

    </div> 
    </div>             
  </div>


{% endblock %}